<!DOCTYPE html>
<html>
<head>
    <title>sales payroll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="#">Company Ltd</a>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link " href="/coverage">Unite Test Code Coverage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Report</a>
            </li>

        </ul>

    </nav>

    <br><br><br>

    <main role="main" class="container">


        {% block body %}{% endblock %}

    </main>


</body>
</html>