{% extends "base.html.twig" %}


{% block body %}

    <div class="card">
        <div class="card-header">
            Europe Sale Payroll Report Download
            <a href="/" class="btn btn-info btn-sm float-right">Clear Form</a>
        </div>
        <div class="card-body">

            {% if  form.errors|length > 0 %}
                {% for error in form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" class="col-sm-6">
                <div class="form-group">
                    <label for="{{ form.formNameField.name }}">{{ form.formNameField.label }}:</label>
                    <input type="input" class="form-control" name="{{ form.formNameField.name }}" value="{{ form.filename }}">
                    <p class="text-info"> Maximum 20 characters for file name.</p>
                </div>
                <div class="form-group">
                    <label for="{{ form.yearField.name }}">{{form.yearField.label}}:</label>
                    <input type="input" class="form-control" name="{{ form.yearField.name }}" value="{{ form.year }}">
                    <p class="text-info"> Year should be between {{ constant('YEAR_START', form) }}  to {{ 'now' | date('Y') }}.</p>
                </div>
                <button type="submit" class="btn btn-primary">Download</button>
            </form>
        </div>
    </div>

{% endblock %}